<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate1?zeroDateTimeBehavior=convertToNull</property>
     <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <!-- Drop and re-create the database schema on startup --> 
    <property name="hbmdl.auto">update</property>
    <property name="hbm2ddl.auto">update</property> 
   
    <mapping class="com.bigbang.sushil.Person"/>
    <mapping class="com.bigbang.sushil.Car"/>
     <!-- Names the annotated entity class >-->
    <mapping class="com.bigbang.sushil.Animal"/>
    <mapping class="com.bigbang.sushil.Fish"/>
    <mapping class="com.bigbang.sushil.nerdIt"/>
    <mapping class="com.bigbang.sushil.Students"/>
    <mapping class="com.bigbang.sushil.SolarSystem"/>
    <mapping class="com.bigbang.sushil.Unistudent"/>
    <mapping class="com.bigbang.sushil.Universe"/>
    <mapping class="com.bigbang.sushil.Planet"/>
    <mapping class="com.bigbang.sushil.ElectruEel"/>
   
    
  </session-factory>
</hibernate-configuration>
